<!-- <section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p> Тут может быть ваша реклама!!! </p>
      </div>
    </div>
    </div>

</section> -->

<footer class="bg-dark text-white mt-4">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-3">
        <h5>Contacts</h5></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-6">Tel : 022-111-111 <span class="bg-primary">
        <br>fax : 022-222-222</span></div>
      <div class="col-md-3"></div>
      <div class="col-md-3 text-right  align-self-end">©2021 Step It</div>
    </div>
  </div>
</footer>